<h1>ERP4U</h1>

<%= current_user.username.capitalize %>

<% if current_user.company.blank? %>
, in order to be able to use our services, you must finish your <%=link_to 'Registration', new_company_path %>.
<% end %>
